*.org
src/S01: Introduction to Machine Learning/S01C00: Working with Jupyter on Habrok.md
.idea/
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python bytecode files
__pycache__/
*.pyc
